.basket {
  * {
    scrollbar-width: thin;
    scrollbar-color: #182D4D #CCE1E3;
  }

  *::-webkit-scrollbar,
  ::-webkit-scrollbar {
    height: 88px;
    width: 14px;
  }

  *::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: #CCE1E3;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background-color: #182D4D;;
    border-radius: 8px;
    border: 1px solid #CCE1E3;
  }

  &-head {
    display: flex;
    align-items: end;
    justify-content: space-between;

    &-btn {
      background: none;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #96AFB1;
      display: flex;
      align-items: center;

      &__text {
        border-bottom: 1px dashed #96AFB1;
        margin-left: 18px;
      }
    }
  }

  &__content {
    overflow-y: auto;
    max-height: 502px;
    margin: 30px 0 70px;
    padding-right: 16px;
  }

  &-card {
    letter-spacing: 0.05em;
    color: #182D4D;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 20px 58px 23px 36px;
    height: 154px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0px 0px 1px rgba(49, 70, 124, 0.25), 0px 0px 10px rgba(165, 172, 199, 0.4);
      transition: .3s;

      .basket-card-btn__svg {
        path {
          stroke: #96AFB1;
        }
      }
    }

    &__image-wrapper {
      height: 100%;
      max-width: 90px;
      margin: 0;
    }

    &__title {
      font-size: 24px;
      line-height: 140%;
      max-width: 411px;
      margin-left: 90px;
      margin-right: 35px;
    }

    &__digit {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__price {
      display: flex;
      align-items: center;
      flex-direction: column;
      letter-spacing: 0.03em;

      &_bold {
        font-weight: 800;
        font-size: 42px;
        line-height: 120%;
        margin-bottom: 6px;
      }

      &_grey {
        text-decoration-line: line-through;
        color: #96AFB1;
      }
    }

    &-btn {
      background: none;
      border: none;

      &__svg {
        height: 27px;
        width: 19px;
        transition: .3s;
      }
    }
  }

  &-all-the {
    padding-bottom: 140px;

    &__row {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 743px 1fr;
    }

    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 17px;
    }

    &-slider {
      position: relative;
      margin-left: 22px;
      margin-right: 41px;

      &__slider {
        width: 680px;
      }

      &__button {
        top: 100px;
        bottom: auto;
      }

      .card {
        height: auto;
      }
    }

    &-promocode {
      width: 100%;
      max-width: 503px;
      min-height: 373px;
      background: #F6FEFF;
      border-radius: 6px;
      padding: 40px;

      &-promo {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        height: 58px;

        &__input {
          height: 100%;
          background: #FFFFFF;
          border: 2px solid #8960E0;
          border-radius: 4px 0px 0px 4px;
          padding: 19px 26px 19px 10px;
        }

        &__btn {
          height: 100%;
          background: #8960E0;
          border-radius: 0px 4px 4px 0px;
          font-size: 16px;
          line-height: 22px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.1em;
          color: #FFFFFF;
        }
      }

      &__list {
        margin-top: 27px;
        margin-bottom: 23px;
      }

      &__item {
        font-size: 16px;
        line-height: 127.69%;
        letter-spacing: 0.1em;
        margin-bottom: 9px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__sum {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;

        &_grey {
          font-size: 42px;
          line-height: 120%;
          letter-spacing: 0.1em;
          color: #96AFB1
        }

        &_bold {
          font-weight: 800;
          font-size: 48px;
          line-height: 120%;
          letter-spacing: 0.03em;
          color: #000000;
        }
      }

      &__link {
        height: 64px;
        width: 100%;
        background: #000000;
        border-radius: 4px;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

    &__btn {
      width: 336px;
      margin-top: 41px;
      margin-left: auto;
      background: #F6FEFF;
      border: 1px solid #96AFB1;
      border-radius: 4px;
    }
  }
}

@media (max-width: 1200px) {
  .basket {
    &-card {
      padding: 20px 25px;

      &__title {
        margin: 0 20px;
        max-width: 368px;
      }

      &__price {
        &_bold {
          font-size: 36px;
        }
      }
    }

    &-all-the {
      padding-bottom: 84px;

      &__row {
        display: flex;
      }

      &-slider {
        &__slider {
          width: 470px;
        }
      }

      &-promocode {
        &-promo {
          grid-template-columns: 1fr 135px;
        }

        &__sum {
          &_grey {
            font-size: 34px;
          }

          &_bold {
            font-size: 36px;
          }
        }
      }
    }
  }
}

//@media (max-width: 1150px) {
//  .basket {
//
//    &-all-the {
//      &-slider {
//        margin: 0;
//
//        &__slider {
//          width: 300px;
//        }
//
//        &__button {
//          top: 78px;
//        }
//      }
//    }
//  }
//}

@media (max-width: 999px) {
  .basket-all-the {
    .card--recommendations {
      background-color: transparent;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;

      .card__title {
        overflow: visible;
        margin: 8px 0 11px;
      }

      .card__image-wrapper {
        width: 100%;
        height: 131px;
        margin: 0;
        padding: 20px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .card__image-label {
        position: absolute;
        width: 32px;
        height: 32px;
        background: #DBFF00;
        border-radius: 0px 0px 0px 10px;

        svg path {
          stroke: #000000;
        }
      }
    }
  }
  .basket {
    &__content {
      max-height: 279px;
      margin: 15px 0 41px;
      padding-right: 10px;
    }

    &-card {
      padding: 12px 34px 11px 12px;
      height: 85px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      &__image-wrapper {
        width: 84px;

        .card__image {
          object-fit: cover;
          width: 100%;
        }
      }

      &__title {
        font-size: 14px;
        line-height: 115%;
        margin: 0 40px 0 15px;
      }

      &__price {
        font-size: 12px;
        line-height: 120%;

        &_bold {
          font-size: 24px;
          line-height: 120%;
          margin-bottom: 4px;
        }
      }

      &-btn {
        &__svg {
          width: 12px;
          height: auto;
        }
      }
    }

    &-all-the {
      &__title {
        font-size: 24px;
        line-height: 120%;
      }

      &-slider {
        &__slider {
          width: 370px;
        }

        &__button {
          top: 65px;

          img {
            width: 5.05px;
            height: 9.6px;
          }
        }
      }

      &-promocode {
        max-width: 300px;
        padding: 20px;
        min-height: 0;

        &-promo {
          height: 31px;
          grid-template-columns: 138px 120px;

          &__input {
            padding: 8px 10px;
            height: 31px;
          }

          &__btn {
            font-size: 12px;
            line-height: 16px;
            height: 31px;
          }
        }

        &__list {
          margin-top: 10px;
          margin-bottom: 8px;
        }

        &__item {
          font-size: 14px;
          line-height: 127.69%;
          margin-bottom: 3px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__sum {
          margin-bottom: 15px;

          &_grey {
            font-size: 24px;
            line-height: 120%;
          }

          &_bold {
            font-size: 28px;
            line-height: 120%;
          }
        }

        &__link {
          height: 44px;
          font-size: 14px;
          line-height: 100%;
        }
      }

      &__btn {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 776px) {
  .basket {
    &-head {
      &-btn {
        font-size: 12px;
        line-height: 140%;

        &__svg {
          width: 10px;
        }

        &__text {
          margin-left: 8px;
        }
      }
    }

    &-card {
      padding: 12px 8px;
      min-height: 110px;
      height: auto;
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: 62px 1fr;

      &:last-child {
        margin-bottom: 0;
      }

      &__image-wrapper {
        width: 50px;
        margin-right: 12px;
        grid-row-start: 1;
        grid-row-end: 3;

        .card__image {
          object-fit: cover;
          width: 100%;
        }
      }

      &__title {
        margin: 0 0 15px;
        max-width: 100%;
      }

      &__digit {
        align-items: flex-end;
      }

      &__price {
        &_bold {
          font-size: 14px;
          line-height: 120%;
          margin-bottom: 0;
        }
      }

      &-btn {
        &__svg {
          width: 9px;
        }
      }
    }

    &-all-the {
      padding-bottom: 50px;

      .card--recommendations {
        background-color: transparent;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;

        .card__title {
          overflow: visible;
          margin: 8px 0 11px;
        }

        .card__image-wrapper {
          width: 100%;
          height: 131px;
          margin: 0;
          padding: 20px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .card__image-label {
          position: absolute;
          width: 32px;
          height: 32px;
          background: #DBFF00;
          border-radius: 0px 0px 0px 10px;

          svg path {
            stroke: #000000;
          }
        }
      }

      &__row {
        flex-direction: column;
      }

      &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 17px;

      }

      &-slider {
        margin: 0;

        &__slider {
          width: 100%;
        }

        &__button {
          top: 78px;
        }
      }

      &-promocode {
        max-width: 100%;
        margin-top: 25px;

        &-promo {
          grid-template-columns: 1fr 120px;
          height: 37px;

          &__input {
            height: 37px;
          }

          &__btn {
            height: 37px;
          }
        }
      }

      &__btn {
        width: 100%;
        margin-top: 11px;
      }
    }
  }
}


@media (max-width: 360px) {
  .basket {
    .quantity {
      &__value,
      &__btn {
        height: 25px;
        width: 25px;
      }

      &__value {
        font-size: 16px;
      }

      &__btn {
        img {
          width: 10px;
        }
      }
    }

    &-head {
      &-btn {
        font-size: 10px;

        &__svg {
          width: 6px;
        }

        &__text {
          margin-left: 4px;
        }
      }
    }

    &-all-the {
      &-promocode {
        &-promo {
          display: flex;

          &__input {
            width: 60%;
          }

          &__btn {
            width: 40%;
          }
        }
      }

      &__btn {
        width: 100%;
        margin-top: 11px;
      }
    }
  }
}